.carousel {
  position: relative;

  padding: 0 57px;

  min-height: 748px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;

  .content {
    margin-top: 341px;
    z-index: 1;

    h1 {
      max-width: 271px;
      color: var(--light-text);
      margin-bottom: 18px;
    }

    #home-banner-subtitle {
      max-width: 318px;
      color: var(--light-text);
      font-weight: 400;

      strong {
        color: var(--green-dark-text);
        background: var(--medium-green);
        font-weight: 400;
      }
    }
  }
}

.carousel::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;

  background: linear-gradient(168.73deg, rgba(21, 39, 13, 0.776) 32.72%, rgba(21, 39, 13, 0.296) 68.64%, rgba(255, 255, 255, 0) 91.69%);
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-animation: fade 21s infinite;
  animation: fade 21s infinite;
}

#img-1 {
  animation-delay: 0s;
  background-image: url("../assets/images/carousel-bg-1.jpg");
}

#img-2 {
  animation-delay: 7s;
  background-image: url("../assets/images/carousel-bg-2.jpg");
}

#img-3 {
  animation-delay: 14s;
  background-image: url("../assets/images/carousel-bg-3.jpg");
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 
@keyframes fade {
  0% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1084px) {
  .carousel {
    height: 757px;

    .content {
      width: 100%;
      max-width: 1440px;
      padding: 0 42px;
      margin-top: 377px;
      margin-left: auto;
      margin-right: auto;

      h1 {
        font-size: 60px;
        max-width: max-content;
      }

      #home-banner-subtitle {
        max-width: max-content;

        strong {
          display: block;
          width: max-content;
        }
      }
    }
  }
}