#header {
  width: 100%;
  min-height: 167px;
  position: absolute;

  .content {
    max-width: 1440px;
    margin: auto;
  }

  a {
    z-index: 11;
  }

  a.logo-link {
    height: 55.7px;
    position: absolute;
    top: 57px;
    left: 57px;
  }

  img {
    width: 123.95px;
    z-index: 11;
  }

  #burger-menu {
    width: 20px;
    height: 17.71px;
    position: absolute;
    top: 75px;
    right: 57px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
  }

  .line__one,
  .line__two,
  .line__three {
    width: 100%;
    height: 3px;
    background: var(--light-background);
    border-radius: 2px;
    transition: 0.4s;
  }

  .line__one.active {
    transform: rotate(45deg) translate(5.1972px, 5.1972px);
  }
  .line__two.active {
    transform: rotate(-45deg);
  }
  .line__three.active {
    opacity: 0;
  }

  nav {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    background: var(--dark-green);

    transform: translateX(-100vw);
    transition: 0.4s;

    z-index: 5;
  }

  nav.active {
    transform: translateX(0);
    position: fixed;
    left: 0;
    top: 0;
    background: blue;
  }

  nav ul {
    list-style: none;
    height: 60%;
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  nav ul li {
    margin-left: 57px;
    opacity: 0;

    a {
      color: var(--light-text);
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
    }
  }

  &.active {
    position: fixed;
    left: 0;
    top: 0;
  }
}

#header.secondary {
  background: var(--dark-green);
  position: static;
}

@keyframes slide__menu__items {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (min-width: 767px) {
  #header {
    min-height: 240px;

    a.logo-link {
      left: 50%;
      transform: translateX(-50%);
    }

    #burger-menu {
      display: none;
    }

    nav {
      top: 185px;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      max-width: 92%;
      height: auto;
      padding-top: 0;
      background: none;
    }

    nav ul {
      height: 100%;
      transform: translateY(0);
      flex-direction: row;
      align-items: center;
    }

    nav ul li {
      transform: translateX(0);
      opacity: 1;
      margin-left: 0;
      display: flex;
      flex-direction: column;

      a:hover {
        color: var(--light-green-text);
        transition: 0.1s; 
      }
    }

    nav ul li.contact {
      height: 32px;
      background: var(--medium-green);
      display: flex;
      justify-content: center;
      margin-bottom: 8px;
      padding: 0 18px;
      transform: skew(-20deg);

      a {
        transform: skew(20deg);
        color: var(--green-dark-text);
      }

      a:hover {
        color: var(--green-dark-text); 
      }

      &:hover {
        background: var(--light-green);
        transition: 0.1s;
      }

      &.active {
        color: var(--green-dark-text); 
        background: var(--light-green);
      }
    }

    nav ul li.active {
      color: var(--light-green-text);

      a {
        color: inherit;
      }

      span {
        transform: translateX(0);
        opacity: 1;
      }
    }

    nav ul li span {
      height: 2px;
      background: var(--light-green-text);
      border-radius: 50px;
      margin-top: 6px;
      transform: translateX(-10px);
      opacity: 0;
      transition: 0.1s;
    }

    nav ul li span.active {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 1104px) {
  #header {
    min-height: 190px;

    .content {
      display: flex;
      justify-content: space-between;
      padding: 72px 42px 51px ;
    }
  
    a.logo-link {
      top: 72px;
      position: static;
      transform: translateX(0);
    }

    nav {
      max-width: 484px;
      position: static;
      transform: translateX(0);
    }
  }
}