:root {
  --dark-green: #1E2E0A;
  --medium-green: #76B729;

  --light-background: #FFFFFF;
  --light-gray: #D2D2D2;

  --dark-text: #15270DF7;
  --green-dark-text: #1E2E0A;
  --light-green-text: #BFEA8D;
  --light-text: #FFFFFF;
}
